<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('contract_index') }}">
                <span class="glyphicon glyphicon-list-alt"></span>
                {#<img alt="Brand" src="...">#}
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Contratos <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('contract_index') }}">Todos los Contratos</a></li>
                        <li><a href="{{ path('contract_no_expired_index') }}">Contratos Vigentes</a></li>
                        <li><a href="{{ path('contract_expired_index') }}">Contratos Expirados</a></li>
                    </ul>
                </li>

                <li>
                    <a href="{{ path('supplement_index') }}">
                        Suplementos
                    </a>
                </li>
                <li class="dropdown">

                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Proveedores <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('ee_index') }}">Entidades Estatales</a></li>
                        <li><a href="{{ path('tcp_index') }}">TCP</a></li>
                        <li><a href="{{ path('cna_index') }}">CNA</a></li>
                    </ul>
                </li>
                <li><a href="{{ path('department_index') }}">Departamentos</a></li>
                {% if is_granted('ROLE_ADMIN') %}
                    <li>
                        <a href="{{ path('user_index') }}">
                            Usuarios
                        </a>
                    </li>
                {% endif %}
            </ul>

            <ul class="nav navbar-nav navbar-right">
                {#<li>#}
                    {#<a href="#">#}
                        {#<span class="glyphicon glyphicon-bell"></span>#}
                    {#</a>#}
                {#</li>#}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-user"></span>
                        {{ app.user.name }}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        {#<li><a href="#">Mis contratos</a></li>#}
                        {#<li><a href="#">Cambiar mi contrase&ntilde;a</a></li>#}
                        {#<li role="separator" class="divider"></li>#}
                        <li><a href="{{ path('logout') }}">Salir</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>