{% extends 'base.html.twig' %}

{% block body %}
    <h1>Licence</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ licence.id }}</td>
            </tr>
            <tr>
                <th>Licencenumber</th>
                <td>{{ licence.licenceNumber }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('licence_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('licence_edit', { 'id': licence.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
